@import 'variables/variables.scss';
@import 'components/header.scss';

*{
	font-family: "Inter", sans-serif;
}

.IniciodoAtendimento, .MeiodoAtendimento{
	display: flex;
	gap: 1rem;
	box-sizing: border-box;
	padding: 0rem 0rem 2rem 2rem;
	overflow-x: scroll;
	.box{
		display: flex;
		align-items: center;
		gap: 0.5rem;
		.HeadBox{
			display: flex;
			flex-direction: column;
			.InputWithBtnEdit{
				display: flex;
				button{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 1.5rem;
					height: 1.5rem;
					
					background-color: transparent;
					border: none;
				}
			}
		.btnCopy{
			width: 8rem;
			height: 10rem;
			border: none;
			font-family: "Inter", sans-serif;
			font-weight: 600;
			color: $color-tertiary;
			background-color: $color-primary;
			&:hover{
					transition: 0.1s;
                    background-color: $color-six;
					}
				}
			input{
				width: 6rem;
				background-color: transparent;
				border: none;
			}
				img{
					height: 1.3rem;
				}
			}
		}
		textarea{
			margin-top: 1.8rem;
			width: 25rem;
			height: 9.7rem;
		}
	}


.containerPrincipal{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	label{
		padding-left: 2rem;
	}
}

.BtnEditTextarea1{
	position: relative;
	right: 2.2rem;
	top: 5.2rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	img{
		height: 1rem;
	}
}

